-content_for :right do
  .back_white_box
    #contractor_skills
      .row-fluid
        .span5
          .left_bold_text
            = t(:contractor_skills)
        .span7
          .right_text
            - if @user.skills.blank?
              Ничего не умеет. Полная бездарность
            -else
              %ul
              - @user.skills.each do |skill|
                %li
                  = skill
      .row-fluid
        .span5
          .left_bold_text
            = t(:contractor_cost)
        .span7
          .right_text
            = '0'
            = t(:rusrubles)
-content_for :left do
  #events
  :javascript
    $(function() {
      window.eventRequestRouter = new Kogdata2.Routers.EventRequestsRouter({eventRequests: []});
      window.eventsRouter = new Kogdata2.Routers.EventsRouter({events: {locals: {events: Event.all}}});
      window.conversationsRouter = new Kogdata2.Routers.ConversationsRouter({conversations: []});
      Backbone.history.start({root: '#{user_path current_user}'});
    });

= render 'portfolios/gallery', owner: @user