.add-event-container
  %h4
    Создать событие
= form_for @event, remote: true do |f|
  .invalid_message
    %p
      Задайте корректные данные!
  .date-container
    %input{id: 'event_day', name: 'event[day]', type: 'number', min: 1, max: 31, autocomplete: :off}
    %select{id: 'event_month', name: 'event[month]'}
      = for i in 1..12
        %option{value: i-1}
          = t('date.month_names')[i]
    %select{id: 'event_year', name: 'event[year]'}
      - year = Date.current.year
      %option{value: year}
        = year
      %option{value: year+1}
        = year+1
  = f.text_field :city, placeholder: 'Ваш город'
  -#= f.select :event_type, EventType.all
  = f.text_area :description, placeholder: 'Описание'
  .start-time-container
    = f.label 'Дата начала'
    %input{id: 'event_hour', name: 'event[hour]', value: '10', type: 'number', min: 0, max: 23} :
    %input{id: 'event_minute', name: 'event[minute]', value: '00', type: 'number', min: 0, max: 59}
  = f.text_field :budget, placeholder: 'Бюджет'
  %br
  .submit-container
    = f.submit  'Создать', id: 'event_submit'