%p#notice= notice

%p
  %b City:
  = @event.city
%p
  %b Date:
  = @event.date
%p
  %b Time:
  = @event.time
%p
  %b Event type:
  = @event.event_type
%p
  %b Budget:
  = @event.budget
%p
  %b Customer:
  = @event.customer

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
