%h1 Listing event_requests

%table
  %tr
    %th Event
    %th Photographer
    %th
    %th
    %th

  - @event_requests.each do |event_request|
    %tr
      %td= event_request.event
      %td= event_request.photographer
      %td= link_to 'Show', event_request
      %td= link_to 'Edit', edit_event_request_path(event_request)
      %td= link_to 'Destroy', event_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event request', new_event_request_path
