%p#notice= notice

%p
  %b Event:
  = @event_request.event
%p
  %b Photographer:
  = @event_request.photographer

= link_to 'Edit', edit_event_request_path(@event_request)
\|
= link_to 'Back', event_requests_path
