!!!
-# --- "!!!" THIS IS DOCTYPE, DON'T REMOVE !!!!!!!!!!!!!!!!!!!!! ----------
%html
  %head
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag 'customer_calendar'
    %title Kogdata
  %body
    = render 'application/header'
    = yield
    = render 'application/footer'

    .container
      .row
        .span5
          #user_info_block
            = render partial: 'application/customer_info'
            #left_block
              = yield :left
        .span7
          #right_block
            = yield :right
