!!!
%html
  %head
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Kogdata
  %body
    = render 'application/header'
    .container
      .row
        .span5
          #user_info_block
            = user_info_tag @user
            #left_block
              = yield :left
        .span7
          #right_block
            = yield :right
      = yield
    = render 'application/footer'
